body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.display {
    padding: 20px;
    background-color: #222;
    color: white;
    text-align: right;
    font-size: 2em;
    height: 60px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    color: blue;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.btn {
    background-color: #f1f1f1;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ddd;
}

.btn:active {
    background-color: #ccc;
}

.zero {
    grid-column: span 2;
}
